<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/>

<b>DONALD TRUMP'S CURRENT APPROVAL RATING ON REALCLEARPOLITICS.COM IS:</b>
<br/>
<p><%=@approval_rate%></p>

<p><%=@array_of_previous_approval_rates.class%></p>

<br/>
<b>To verify the approval rating, click on the link below</b>
<br/><a href='https://www.realclearpolitics.com/epolls/other/president_trump_job_approval-6179.html'>RCP Donald Trump approval rate</a>

<br>

<%= link_to 'New User', new_user_path %>

<!--other option is to append the approval rate every day at some time in order to later reference it and compare it to the day's current approval rate-->
<!--add button here that when clicked, saves the current approval rate to the array in the users controller, append_to_array(appendage) method-->
<%while true do%>
  <%=if Time.now.to_i = 1505616021 + 86400 %>
    <%@array_of_previous_approval_rates << @approval_rate%>
  <%end%>
<%end%>
<br/><br/><br/>

<!--here is where we want our app to monitor some metrics and when a new survey is released, the app triggers an email-->

<!--this code below works. it started sending constant emails to me -->
<%if @approval_rate != 39.9%>
  <%2.times do%>
    <%=ExampleMailer.sample_email(@my_user).deliver%>
  <%end%>
<%else%>
  <%5.times do%>
    <%=ExampleMailer.sample_email(@my_user).deliver%>
  <%end%>
<%end%>
