<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/>

<b>DONALD TRUMP'S CURRENT APPROVAL RATING ON REALCLEARPOLITICS.COM IS:</b>
<br/>
<p><%=@approval_rate%></p>
<br/>

<%if @approval_rate != 40.1 %>
  <%25.times do%>
    <%=ExampleMailer.sample_email(@my_user).deliver%>
  <%end%>
<%end%>

<p><%=@string_form2_int%></p>


<br/>
<b>To verify the approval rating, click on the link below</b>
<br/><a href='https://www.realclearpolitics.com/epolls/other/president_trump_job_approval-6179.html'>RCP Donald Trump approval rate</a>

<br>

<%= link_to 'New User', new_user_path %>

<!--here is where we want our app to monitor some metrics and when a new survey is released, the app triggers an email-->


<script>

function refreshAt(hours, minutes, seconds) {
    var now = new Date();
    var then = new Date();

    if(now.getHours() > hours ||
       (now.getHours() == hours && now.getMinutes() > minutes) ||
        now.getHours() == hours && now.getMinutes() == minutes && now.getSeconds() >= seconds) {
        then.setDate(now.getDate() + 1);
    }
    then.setHours(hours);
    then.setMinutes(minutes);
    then.setSeconds(seconds);

    var timeout = (then.getTime() - now.getTime());
    setTimeout(function() { window.location.reload(true); }, timeout);
}


//simply add times of the day at which we want the web page to refresh. A refresh causes the page to check
//the realclearpolitics site and depending on the logic, will shoot off emails

//page refresh every 2 minutes throughout the entire day
refreshAt(1, 1, 59);
refreshAt(1, 3, 59);
refreshAt(1, 5, 59);
refreshAt(1, 7, 59);
refreshAt(1, 9, 59);
refreshAt(1, 11, 59);
refreshAt(1, 13, 59);
refreshAt(1, 15, 59);
refreshAt(1, 17, 59);
refreshAt(1, 19, 59);
refreshAt(1, 21, 59);
refreshAt(1, 23, 59);
refreshAt(1, 25, 59);
refreshAt(1, 27, 59);
refreshAt(1, 29, 59);
refreshAt(1, 31, 59);
refreshAt(1, 33, 59);
refreshAt(1, 35, 59);
refreshAt(1, 37, 59);
refreshAt(1, 39, 59);
refreshAt(1, 41, 59);
refreshAt(1, 43, 59);
refreshAt(1, 45, 59);
refreshAt(1, 47, 59);
refreshAt(1, 49, 59);
refreshAt(1, 51, 59);
refreshAt(1, 53, 59);
refreshAt(1, 55, 59);
refreshAt(1, 57, 59);
refreshAt(1, 59, 59);

refreshAt(2, 1, 59);
refreshAt(2, 3, 59);
refreshAt(2, 5, 59);
refreshAt(2, 7, 59);
refreshAt(2, 9, 59);
refreshAt(2, 11, 59);
refreshAt(2, 13, 59);
refreshAt(2, 15, 59);
refreshAt(2, 17, 59);
refreshAt(2, 19, 59);
refreshAt(2, 21, 59);
refreshAt(2, 23, 59);
refreshAt(2, 25, 59);
refreshAt(2, 27, 59);
refreshAt(2, 29, 59);
refreshAt(2, 31, 59);
refreshAt(2, 33, 59);
refreshAt(2, 35, 59);
refreshAt(2, 37, 59);
refreshAt(2, 39, 59);
refreshAt(2, 41, 59);
refreshAt(2, 43, 59);
refreshAt(2, 45, 59);
refreshAt(2, 47, 59);
refreshAt(2, 49, 59);
refreshAt(2, 51, 59);
refreshAt(2, 53, 59);
refreshAt(2, 55, 59);
refreshAt(2, 57, 59);
refreshAt(2, 59, 59);

refreshAt(3, 1, 59);
refreshAt(3, 3, 59);
refreshAt(3, 5, 59);
refreshAt(3, 7, 59);
refreshAt(3, 9, 59);
refreshAt(3, 11, 59);
refreshAt(3, 13, 59);
refreshAt(3, 15, 59);
refreshAt(3, 17, 59);
refreshAt(3, 19, 59);
refreshAt(3, 21, 59);
refreshAt(3, 23, 59);
refreshAt(3, 25, 59);
refreshAt(3, 27, 59);
refreshAt(3, 29, 59);
refreshAt(3, 31, 59);
refreshAt(3, 33, 59);
refreshAt(3, 35, 59);
refreshAt(3, 37, 59);
refreshAt(3, 39, 59);
refreshAt(3, 41, 59);
refreshAt(3, 43, 59);
refreshAt(3, 45, 59);
refreshAt(3, 47, 59);
refreshAt(3, 49, 59);
refreshAt(3, 51, 59);
refreshAt(3, 53, 59);
refreshAt(3, 55, 59);
refreshAt(3, 57, 59);
refreshAt(3, 59, 59);

refreshAt(4, 1, 59);
refreshAt(4, 3, 59);
refreshAt(4, 5, 59);
refreshAt(4, 7, 59);
refreshAt(4, 9, 59);
refreshAt(4, 11, 59);
refreshAt(4, 13, 59);
refreshAt(4, 15, 59);
refreshAt(4, 17, 59);
refreshAt(4, 19, 59);
refreshAt(4, 21, 59);
refreshAt(4, 23, 59);
refreshAt(4, 25, 59);
refreshAt(4, 27, 59);
refreshAt(4, 29, 59);
refreshAt(4, 31, 59);
refreshAt(4, 33, 59);
refreshAt(4, 35, 59);
refreshAt(4, 37, 59);
refreshAt(4, 39, 59);
refreshAt(4, 41, 59);
refreshAt(4, 43, 59);
refreshAt(4, 45, 59);
refreshAt(4, 47, 59);
refreshAt(4, 49, 59);
refreshAt(4, 51, 59);
refreshAt(4, 53, 59);
refreshAt(4, 55, 59);
refreshAt(4, 57, 59);
refreshAt(4, 59, 59);

refreshAt(5, 1, 59);
refreshAt(5, 3, 59);
refreshAt(5, 5, 59);
refreshAt(5, 7, 59);
refreshAt(5, 9, 59);
refreshAt(5, 11, 59);
refreshAt(5, 13, 59);
refreshAt(5, 15, 59);
refreshAt(5, 17, 59);
refreshAt(5, 19, 59);
refreshAt(5, 21, 59);
refreshAt(5, 23, 59);
refreshAt(5, 25, 59);
refreshAt(5, 27, 59);
refreshAt(5, 29, 59);
refreshAt(5, 31, 59);
refreshAt(5, 33, 59);
refreshAt(5, 35, 59);
refreshAt(5, 37, 59);
refreshAt(5, 39, 59);
refreshAt(5, 51, 59);
refreshAt(5, 53, 59);
refreshAt(5, 55, 59);
refreshAt(5, 57, 59);
refreshAt(5, 59, 59);
refreshAt(5, 51, 59);
refreshAt(5, 53, 59);
refreshAt(5, 55, 59);
refreshAt(5, 57, 59);
refreshAt(5, 59, 59);

refreshAt(6, 1, 59);
refreshAt(6, 3, 59);
refreshAt(6, 5, 59);
refreshAt(6, 7, 59);
refreshAt(6, 9, 59);
refreshAt(6, 11, 59);
refreshAt(6, 13, 59);
refreshAt(6, 15, 59);
refreshAt(6, 17, 59);
refreshAt(6, 19, 59);
refreshAt(6, 21, 59);
refreshAt(6, 23, 59);
refreshAt(6, 25, 59);
refreshAt(6, 27, 59);
refreshAt(6, 29, 59);
refreshAt(6, 31, 59);
refreshAt(6, 33, 59);
refreshAt(6, 35, 59);
refreshAt(6, 37, 59);
refreshAt(6, 39, 59);
refreshAt(6, 51, 59);
refreshAt(6, 53, 59);
refreshAt(6, 55, 59);
refreshAt(6, 57, 59);
refreshAt(6, 59, 59);
refreshAt(6, 51, 59);
refreshAt(6, 53, 59);
refreshAt(6, 55, 59);
refreshAt(6, 57, 59);
refreshAt(6, 59, 59);

refreshAt(7, 1, 59);
refreshAt(7, 3, 59);
refreshAt(7, 5, 59);
refreshAt(7, 7, 59);
refreshAt(7, 9, 59);
refreshAt(7, 11, 59);
refreshAt(7, 13, 59);
refreshAt(7, 15, 59);
refreshAt(7, 17, 59);
refreshAt(7, 19, 59);
refreshAt(7, 21, 59);
refreshAt(7, 23, 59);
refreshAt(7, 25, 59);
refreshAt(7, 27, 59);
refreshAt(7, 29, 59);
refreshAt(7, 31, 59);
refreshAt(7, 33, 59);
refreshAt(7, 35, 59);
refreshAt(7, 37, 59);
refreshAt(7, 39, 59);
refreshAt(7, 51, 59);
refreshAt(7, 53, 59);
refreshAt(7, 55, 59);
refreshAt(7, 57, 59);
refreshAt(7, 59, 59);
refreshAt(7, 51, 59);
refreshAt(7, 53, 59);
refreshAt(7, 55, 59);
refreshAt(7, 57, 59);
refreshAt(7, 59, 59);

refreshAt(8, 1, 59);
refreshAt(8, 3, 59);
refreshAt(8, 5, 59);
refreshAt(8, 7, 59);
refreshAt(8, 9, 59);
refreshAt(8, 11, 59);
refreshAt(8, 13, 59);
refreshAt(8, 15, 59);
refreshAt(8, 17, 59);
refreshAt(8, 19, 59);
refreshAt(8, 21, 59);
refreshAt(8, 23, 59);
refreshAt(8, 25, 59);
refreshAt(8, 27, 59);
refreshAt(8, 29, 59);
refreshAt(8, 31, 59);
refreshAt(8, 33, 59);
refreshAt(8, 35, 59);
refreshAt(8, 37, 59);
refreshAt(8, 39, 59);
refreshAt(8, 51, 59);
refreshAt(8, 53, 59);
refreshAt(8, 55, 59);
refreshAt(8, 57, 59);
refreshAt(8, 59, 59);
refreshAt(8, 51, 59);
refreshAt(8, 53, 59);
refreshAt(8, 55, 59);
refreshAt(8, 57, 59);
refreshAt(8, 59, 59);

refreshAt(9, 1, 59);
refreshAt(9, 3, 59);
refreshAt(9, 5, 59);
refreshAt(9, 7, 59);
refreshAt(9, 9, 59);
refreshAt(9, 11, 59);
refreshAt(9, 13, 59);
refreshAt(9, 15, 59);
refreshAt(9, 17, 59);
refreshAt(9, 19, 59);
refreshAt(9, 21, 59);
refreshAt(9, 23, 59);
refreshAt(9, 25, 59);
refreshAt(9, 27, 59);
refreshAt(9, 29, 59);
refreshAt(9, 31, 59);
refreshAt(9, 33, 59);
refreshAt(9, 35, 59);
refreshAt(9, 37, 59);
refreshAt(9, 39, 59);
refreshAt(9, 51, 59);
refreshAt(9, 53, 59);
refreshAt(9, 55, 59);
refreshAt(9, 57, 59);
refreshAt(9, 59, 59);
refreshAt(9, 51, 59);
refreshAt(9, 53, 59);
refreshAt(9, 55, 59);
refreshAt(9, 57, 59);
refreshAt(9, 59, 59);

refreshAt(10, 1, 59);
refreshAt(10, 3, 59);
refreshAt(10, 5, 59);
refreshAt(10, 7, 59);
refreshAt(10, 9, 59);
refreshAt(10, 11, 59);
refreshAt(10, 13, 59);
refreshAt(10, 15, 59);
refreshAt(10, 17, 59);
refreshAt(10, 19, 59);
refreshAt(10, 21, 59);
refreshAt(10, 23, 59);
refreshAt(10, 25, 59);
refreshAt(10, 27, 59);
refreshAt(10, 29, 59);
refreshAt(10, 31, 59);
refreshAt(10, 33, 59);
refreshAt(10, 35, 59);
refreshAt(10, 37, 59);
refreshAt(10, 39, 59);
refreshAt(10, 51, 59);
refreshAt(10, 53, 59);
refreshAt(10, 55, 59);
refreshAt(10, 57, 59);
refreshAt(10, 59, 59);
refreshAt(10, 51, 59);
refreshAt(10, 53, 59);
refreshAt(10, 55, 59);
refreshAt(10, 57, 59);
refreshAt(10, 59, 59);

refreshAt(11, 1, 59);
refreshAt(11, 3, 59);
refreshAt(11, 5, 59);
refreshAt(11, 7, 59);
refreshAt(11, 9, 59);
refreshAt(11, 11, 59);
refreshAt(11, 13, 59);
refreshAt(11, 15, 59);
refreshAt(11, 17, 59);
refreshAt(11, 19, 59);
refreshAt(11, 21, 59);
refreshAt(11, 23, 59);
refreshAt(11, 25, 59);
refreshAt(11, 27, 59);
refreshAt(11, 29, 59);
refreshAt(11, 31, 59);
refreshAt(11, 33, 59);
refreshAt(11, 35, 59);
refreshAt(11, 37, 59);
refreshAt(11, 39, 59);
refreshAt(11, 51, 59);
refreshAt(11, 53, 59);
refreshAt(11, 55, 59);
refreshAt(11, 57, 59);
refreshAt(11, 59, 59);
refreshAt(11, 51, 59);
refreshAt(11, 53, 59);
refreshAt(11, 55, 59);
refreshAt(11, 57, 59);
refreshAt(11, 59, 59);

refreshAt(12, 1, 59);
refreshAt(12, 3, 59);
refreshAt(12, 5, 59);
refreshAt(12, 7, 59);
refreshAt(12, 9, 59);
refreshAt(12, 11, 59);
refreshAt(12, 13, 59);
refreshAt(12, 15, 59);
refreshAt(12, 17, 59);
refreshAt(12, 19, 59);
refreshAt(12, 21, 59);
refreshAt(12, 23, 59);
refreshAt(12, 25, 59);
refreshAt(12, 27, 59);
refreshAt(12, 29, 59);
refreshAt(12, 31, 59);
refreshAt(12, 33, 59);
refreshAt(12, 35, 59);
refreshAt(12, 37, 59);
refreshAt(12, 39, 59);
refreshAt(12, 51, 59);
refreshAt(12, 53, 59);
refreshAt(12, 55, 59);
refreshAt(12, 57, 59);
refreshAt(12, 59, 59);
refreshAt(12, 51, 59);
refreshAt(12, 53, 59);
refreshAt(12, 55, 59);
refreshAt(12, 57, 59);
refreshAt(12, 59, 59);

refreshAt(13, 1, 59);
refreshAt(13, 3, 59);
refreshAt(13, 5, 59);
refreshAt(13, 7, 59);
refreshAt(13, 9, 59);
refreshAt(13, 11, 59);
refreshAt(13, 13, 59);
refreshAt(13, 15, 59);
refreshAt(13, 17, 59);
refreshAt(13, 19, 59);
refreshAt(13, 21, 59);
refreshAt(13, 23, 59);
refreshAt(13, 25, 59);
refreshAt(13, 27, 59);
refreshAt(13, 29, 59);
refreshAt(13, 31, 59);
refreshAt(13, 33, 59);
refreshAt(13, 35, 59);
refreshAt(13, 37, 59);
refreshAt(13, 39, 59);
refreshAt(13, 51, 59);
refreshAt(13, 53, 59);
refreshAt(13, 55, 59);
refreshAt(13, 57, 59);
refreshAt(13, 59, 59);
refreshAt(13, 51, 59);
refreshAt(13, 53, 59);
refreshAt(13, 55, 59);
refreshAt(13, 57, 59);
refreshAt(13, 59, 59);

refreshAt(14, 1, 59);
refreshAt(14, 3, 59);
refreshAt(14, 5, 59);
refreshAt(14, 7, 59);
refreshAt(14, 9, 59);
refreshAt(14, 11, 59);
refreshAt(14, 13, 59);
refreshAt(14, 15, 59);
refreshAt(14, 17, 59);
refreshAt(14, 19, 59);
refreshAt(14, 21, 59);
refreshAt(14, 23, 59);
refreshAt(14, 25, 59);
refreshAt(14, 27, 59);
refreshAt(14, 29, 59);
refreshAt(14, 31, 59);
refreshAt(14, 33, 59);
refreshAt(14, 35, 59);
refreshAt(14, 37, 59);
refreshAt(14, 39, 59);
refreshAt(14, 51, 59);
refreshAt(14, 53, 59);
refreshAt(14, 55, 59);
refreshAt(14, 57, 59);
refreshAt(14, 59, 59);
refreshAt(14, 51, 59);
refreshAt(14, 53, 59);
refreshAt(14, 55, 59);
refreshAt(14, 57, 59);
refreshAt(14, 59, 59);

refreshAt(15, 1, 59);
refreshAt(15, 3, 59);
refreshAt(15, 5, 59);
refreshAt(15, 7, 59);
refreshAt(15, 9, 59);
refreshAt(15, 11, 59);
refreshAt(15, 13, 59);
refreshAt(15, 15, 59);
refreshAt(15, 17, 59);
refreshAt(15, 19, 59);
refreshAt(15, 21, 59);
refreshAt(15, 23, 59);
refreshAt(15, 25, 59);
refreshAt(15, 27, 59);
refreshAt(15, 29, 59);
refreshAt(15, 31, 59);
refreshAt(15, 33, 59);
refreshAt(15, 35, 59);
refreshAt(15, 37, 59);
refreshAt(15, 39, 59);
refreshAt(15, 51, 59);
refreshAt(15, 53, 59);
refreshAt(15, 55, 59);
refreshAt(15, 57, 59);
refreshAt(15, 59, 59);
refreshAt(15, 51, 59);
refreshAt(15, 53, 59);
refreshAt(15, 55, 59);
refreshAt(15, 57, 59);
refreshAt(15, 59, 59);

refreshAt(16, 1, 59);
refreshAt(16, 3, 59);
refreshAt(16, 5, 59);
refreshAt(16, 7, 59);
refreshAt(16, 9, 59);
refreshAt(16, 11, 59);
refreshAt(16, 13, 59);
refreshAt(16, 15, 59);
refreshAt(16, 17, 59);
refreshAt(16, 19, 59);
refreshAt(16, 21, 59);
refreshAt(16, 23, 59);
refreshAt(16, 25, 59);
refreshAt(16, 27, 59);
refreshAt(16, 29, 59);
refreshAt(16, 31, 59);
refreshAt(16, 33, 59);
refreshAt(16, 35, 59);
refreshAt(16, 37, 59);
refreshAt(16, 39, 59);
refreshAt(16, 51, 59);
refreshAt(16, 53, 59);
refreshAt(16, 55, 59);
refreshAt(16, 57, 59);
refreshAt(16, 59, 59);
refreshAt(16, 51, 59);
refreshAt(16, 53, 59);
refreshAt(16, 55, 59);
refreshAt(16, 57, 59);
refreshAt(16, 59, 59);

refreshAt(17, 1, 59);
refreshAt(17, 3, 59);
refreshAt(17, 5, 59);
refreshAt(17, 7, 59);
refreshAt(17, 9, 59);
refreshAt(17, 11, 59);
refreshAt(17, 13, 59);
refreshAt(17, 15, 59);
refreshAt(17, 17, 59);
refreshAt(17, 19, 59);
refreshAt(17, 21, 59);
refreshAt(17, 23, 59);
refreshAt(17, 25, 59);
refreshAt(17, 27, 59);
refreshAt(17, 29, 59);
refreshAt(17, 31, 59);
refreshAt(17, 33, 59);
refreshAt(17, 35, 59);
refreshAt(17, 37, 59);
refreshAt(17, 39, 59);
refreshAt(17, 51, 59);
refreshAt(17, 53, 59);
refreshAt(17, 55, 59);
refreshAt(17, 57, 59);
refreshAt(17, 59, 59);
refreshAt(17, 51, 59);
refreshAt(17, 53, 59);
refreshAt(17, 55, 59);
refreshAt(17, 57, 59);
refreshAt(17, 59, 59);

refreshAt(18, 1, 59);
refreshAt(18, 3, 59);
refreshAt(18, 5, 59);
refreshAt(18, 7, 59);
refreshAt(18, 9, 59);
refreshAt(18, 11, 59);
refreshAt(18, 13, 59);
refreshAt(18, 15, 59);
refreshAt(18, 17, 59);
refreshAt(18, 19, 59);
refreshAt(18, 21, 59);
refreshAt(18, 23, 59);
refreshAt(18, 25, 59);
refreshAt(18, 27, 59);
refreshAt(18, 29, 59);
refreshAt(18, 31, 59);
refreshAt(18, 33, 59);
refreshAt(18, 35, 59);
refreshAt(18, 37, 59);
refreshAt(18, 39, 59);
refreshAt(18, 51, 59);
refreshAt(18, 53, 59);
refreshAt(18, 55, 59);
refreshAt(18, 57, 59);
refreshAt(18, 59, 59);
refreshAt(18, 51, 59);
refreshAt(18, 53, 59);
refreshAt(18, 55, 59);
refreshAt(18, 57, 59);
refreshAt(18, 59, 59);

refreshAt(19, 1, 59);
refreshAt(19, 3, 59);
refreshAt(19, 5, 59);
refreshAt(19, 7, 59);
refreshAt(19, 9, 59);
refreshAt(19, 11, 59);
refreshAt(19, 13, 59);
refreshAt(19, 15, 59);
refreshAt(19, 17, 59);
refreshAt(19, 19, 59);
refreshAt(19, 21, 59);
refreshAt(19, 23, 59);
refreshAt(19, 25, 59);
refreshAt(19, 27, 59);
refreshAt(19, 29, 59);
refreshAt(19, 31, 59);
refreshAt(19, 33, 59);
refreshAt(19, 35, 59);
refreshAt(19, 37, 59);
refreshAt(19, 39, 59);
refreshAt(19, 51, 59);
refreshAt(19, 53, 59);
refreshAt(19, 55, 59);
refreshAt(19, 57, 59);
refreshAt(19, 59, 59);
refreshAt(19, 51, 59);
refreshAt(19, 53, 59);
refreshAt(19, 55, 59);
refreshAt(19, 57, 59);
refreshAt(19, 59, 59);

refreshAt(20, 1, 59);
refreshAt(20, 3, 59);
refreshAt(20, 5, 59);
refreshAt(20, 7, 59);
refreshAt(20, 9, 59);
refreshAt(20, 11, 59);
refreshAt(20, 13, 59);
refreshAt(20, 15, 59);
refreshAt(20, 17, 59);
refreshAt(20, 19, 59);
refreshAt(20, 21, 59);
refreshAt(20, 23, 59);
refreshAt(20, 25, 59);
refreshAt(20, 27, 59);
refreshAt(20, 29, 59);
refreshAt(20, 31, 59);
refreshAt(20, 33, 59);
refreshAt(20, 35, 59);
refreshAt(20, 37, 59);
refreshAt(20, 39, 59);
refreshAt(20, 51, 59);
refreshAt(20, 53, 59);
refreshAt(20, 55, 59);
refreshAt(20, 57, 59);
refreshAt(20, 59, 59);
refreshAt(20, 51, 59);
refreshAt(20, 53, 59);
refreshAt(20, 55, 59);
refreshAt(20, 57, 59);
refreshAt(20, 59, 59);

refreshAt(21, 1, 59);
refreshAt(21, 3, 59);
refreshAt(21, 5, 59);
refreshAt(21, 7, 59);
refreshAt(21, 9, 59);
refreshAt(21, 11, 59);
refreshAt(21, 13, 59);
refreshAt(21, 15, 59);
refreshAt(21, 17, 59);
refreshAt(21, 19, 59);
refreshAt(21, 21, 59);
refreshAt(21, 23, 59);
refreshAt(21, 25, 59);
refreshAt(21, 27, 59);
refreshAt(21, 29, 59);
refreshAt(21, 31, 59);
refreshAt(21, 33, 59);
refreshAt(21, 35, 59);
refreshAt(21, 37, 59);
refreshAt(21, 39, 59);
refreshAt(21, 51, 59);
refreshAt(21, 53, 59);
refreshAt(21, 55, 59);
refreshAt(21, 57, 59);
refreshAt(21, 59, 59);
refreshAt(21, 51, 59);
refreshAt(21, 53, 59);
refreshAt(21, 55, 59);
refreshAt(21, 57, 59);
refreshAt(21, 59, 59);

refreshAt(22, 1, 59);
refreshAt(22, 3, 59);
refreshAt(22, 5, 59);
refreshAt(22, 7, 59);
refreshAt(22, 9, 59);
refreshAt(22, 11, 59);
refreshAt(22, 13, 59);
refreshAt(22, 15, 59);
refreshAt(22, 17, 59);
refreshAt(22, 19, 59);
refreshAt(22, 21, 59);
refreshAt(22, 23, 59);
refreshAt(22, 25, 59);
refreshAt(22, 27, 59);
refreshAt(22, 29, 59);
refreshAt(22, 31, 59);
refreshAt(22, 33, 59);
refreshAt(22, 35, 59);
refreshAt(22, 37, 59);
refreshAt(22, 39, 59);
refreshAt(22, 51, 59);
refreshAt(22, 53, 59);
refreshAt(22, 55, 59);
refreshAt(22, 57, 59);
refreshAt(22, 59, 59);
refreshAt(22, 51, 59);
refreshAt(22, 53, 59);
refreshAt(22, 55, 59);
refreshAt(22, 57, 59);
refreshAt(22, 59, 59);

refreshAt(23, 1, 59);
refreshAt(23, 3, 59);
refreshAt(23, 5, 59);
refreshAt(23, 7, 59);
refreshAt(23, 9, 59);
refreshAt(23, 11, 59);
refreshAt(23, 13, 59);
refreshAt(23, 15, 59);
refreshAt(23, 17, 59);
refreshAt(23, 19, 59);
refreshAt(23, 21, 59);
refreshAt(23, 23, 59);
refreshAt(23, 25, 59);
refreshAt(23, 27, 59);
refreshAt(23, 29, 59);
refreshAt(23, 31, 59);
refreshAt(23, 33, 59);
refreshAt(23, 35, 59);
refreshAt(23, 37, 59);
refreshAt(23, 39, 59);
refreshAt(23, 51, 59);
refreshAt(23, 53, 59);
refreshAt(23, 55, 59);
refreshAt(23, 57, 59);
refreshAt(23, 59, 59);
refreshAt(23, 51, 59);
refreshAt(23, 53, 59);
refreshAt(23, 55, 59);
refreshAt(23, 57, 59);
refreshAt(23, 59, 59);

refreshAt(00, 1, 59);
refreshAt(00, 3, 59);
refreshAt(00, 5, 59);
refreshAt(00, 7, 59);
refreshAt(00, 9, 59);
refreshAt(00, 11, 59);
refreshAt(00, 13, 59);
refreshAt(00, 15, 59);
refreshAt(00, 17, 59);
refreshAt(00, 19, 59);
refreshAt(00, 21, 59);
refreshAt(00, 23, 59);
refreshAt(00, 25, 59);
refreshAt(00, 27, 59);
refreshAt(00, 29, 59);
refreshAt(00, 31, 59);
refreshAt(00, 33, 59);
refreshAt(00, 35, 59);
refreshAt(00, 37, 59);
refreshAt(00, 39, 59);
refreshAt(00, 51, 59);
refreshAt(00, 53, 59);
refreshAt(00, 55, 59);
refreshAt(00, 57, 59);
refreshAt(00, 59, 59);
refreshAt(00, 51, 59);
refreshAt(00, 53, 59);
refreshAt(00, 55, 59);
refreshAt(00, 57, 59);
refreshAt(00, 59, 59);

</script>



